.character-form {
  width: 1200px;
  margin: 120px auto;
  padding: 60px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 230, 180, 0.2);


}

.empty-container {
  padding-top: 25px;
  height: 125px;
}


input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  width: 800px;

  background-color: #2e2e2e;
  color: #fff;

   margin-bottom: 20px;
}

label {
  font-size: 20px;
}

.stat-label {
  font-size: 18px;
  font-weight: bold;
}

.abilityline {
  display: flex;
  align-items: center; /* vertically center content */
  gap: 10px; /* space between items */
}

